{{outlet}}
<p>Welcome! Below are questions posed and hopefully answered by our community. Please feel free to ask or answer any questions you wish!</p>
<ul>
  {{#each model.questions as |question|}}
    {{question-line question=question update='update'}}
  {{/each}}
</ul>
{{new-question saveQuestion="saveQuestion"}}